- var title = 'My cool title'
- var menu = [{url: 'index.html', name: 'Главная'}, {url: 'portfolio.html', name: 'Портфолио'}, {url: 'about.html', name: 'Обо мне'}, {url: 'contacts.html', name: 'Контакты'}]
- var auth = false

- var html = "<span>This is span-tag</span>"
